<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/nav.ejs') %>

  <div class="admin-container">
    <h1 class="text-lg">Admin</h1>
    <h2 class="text-md"><%= tagline %></h2>
      <main class="subscriber">
        <!-- Subscribers List -->
      </main>
    
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html> 