<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>
  
<body>

  <%- include('../partials/nav.ejs') %>

  <!-- Product image gallery -->
  <h1 class="text-lg">Gallery</h1>
  <main class="gallery">
      
  </main>

  <%- include('../partials/footer.ejs') %>

<script src="../../public/js/client.js" type="module" ></script>
</body>
</html> 