<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>
  
<body class="<%= current %>" >

  <%- include('../partials/nav.ejs') %>

  <section id="hero-section" class="home-bg">
    <div class="container">
      <h1><span class="text-xl text-colored">TripleAI</span> Gaming Solutions</h1>
      <p>Take your gaming to the next level</p>
      <div><a class="btn-lg" href="/subscribe">Subscribe</a></div>
    </div>
  </section>

  <%- include('../partials/footer.ejs') %>

</body>
</html> 