<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>
  
<body class="<%= current %>" >

  <%- include('../partials/nav.ejs') %>

  <section id="text-content" class="card-container">
    <h3 class="text-lg">Meet Our <span class="text-colored">Team</span></h3>
    <div class="container cards">
      <!-- individual cards -->
      <section class="card">
        <!-- background and profile images -->
        <div>

          <img src="./images/Jamie-2.jpg" alt="" class="image-profile">
          <!-- Name and info -->
          <h1>Lauren</h1>
          <h2>Product <span class="text-colored" >specialist</span></h2>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repudiandae temporibus odio cupiditate corporis a dolores eveniet ipsa iure recusandae.</p>
        <!-- social media icons -->
        <article class="socials">
          <i class="fab fa-twitter fa-3x"></i>
          <i class="fab fa-facebook fa-3x"></i>
          <i class="fab fa-instagram fa-3x"></i>
        </article>
      </section>
      <section class="card">
        <!-- background and profile images -->
        <div>
          <img src="./images/christian-2.jpg" alt="" class="image-profile">
          <!-- Name and info -->
          <h1>Nana</h1>
          <h2>Team <span class="text-colored" >lead</span></h2>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repudiandae temporibus odio cupiditate corporis a dolores eveniet ipsa iure recusandae.</p>
        <!-- social media icons -->
        <article class="socials">
          <i class="fab fa-twitter fa-3x"></i>
          <i class="fab fa-facebook fa-3x"></i>
          <i class="fab fa-instagram fa-3x"></i>
        </article>
      </section>
      <section class="card">
        <!-- background and profile images -->
        <div>
          <img src="./images/ben-2.jpg" alt="" class="image-profile">
          <!-- Name and info -->
          <h1>Emil</h1>
          <h2>Product <span class="text-colored" >specialist</span></h2>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repudiandae temporibus odio cupiditate corporis a dolores eveniet ipsa iure recusandae.</p>
        <!-- social media icons -->
        <article class="socials">
          <i class="fab fa-twitter fa-3x"></i>
          <i class="fab fa-facebook fa-3x"></i>
          <i class="fab fa-instagram fa-3x"></i>
        </article>
      </section>
    </div>
  </section>


  <%- include('../partials/footer.ejs') %>

</body>
</html> 